:root {
  --color-background: #FFF;
  --color-foreground: #000;
  --color-dark: #23232B;
  --color-md-dark: rgb(107, 105, 105);
  --color-light: #F0EFEF;
  --color-md-light: #EBE8E8;
  --color-primary: #127AFF;
  --color-dark-primary: #1164D1;
  --color-info: #17A3B8;
  --color-success: #28A845;
  --color-danger: #DD3544;
  --color-callout: #FDC107;
  --color-lightest: #F8F9FA;
  --font-base-size: 18px;
}

body {
  font-size: var(--font-base-size);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 2rem;
  background-color: var(--color-background);
  margin: 0;
}

section:not(#nav, #banner, #about, #popular) {
  min-height: 100vh;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}
a:hover {
  color: var(--color-dark-primary);
}

/* Buttons */
button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-background);
  margin: 0;
}
button:hover {
  background-color: var(--color-dark-primary);
}

/* Banner */
#banner {
  display: flex;
  justify-content: center;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

.text-form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-md-dark);
  font-size: 1rem;
  padding: 0.5rem;
}

/* Navbars */
.navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--color-dark);
  color: var(--color-lightest);
  padding: 1rem;
}
.navbar .title {
  margin: 0;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
  padding: 0;
  margin: 0;
}
.navbar ul a {
  margin: 0 0 0 1rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Code */
pre {
  color: var(--color-lightest);
  background-color: var(--color-md-dark);
  padding: 1rem;
}

/* Cards */
#popular {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 1em;
  margin: 1em;
  background-color: #EEE;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.card img {
  width: 100%;
}

/* Swatches */
.swatch {
  margin: 1px;
  width: 100px;
  height: 100px;
}

.swatches {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.color-0 {
  background-color: #766cfa;
}

.color-1 {
  background-color: #0bca9e;
}

.color-2 {
  background-color: #bd290c;
}

.color-3 {
  background-color: #1cc2b3;
}

.color-4 {
  background-color: #9a8343;
}

.color-5 {
  background-color: #92514c;
}

.color-6 {
  background-color: #8a45c0;
}

.color-7 {
  background-color: #f5879d;
}

.color-8 {
  background-color: #6fb413;
}

.color-9 {
  background-color: #6616c8;
}

.color-10 {
  background-color: #35c7eb;
}

.color-11 {
  background-color: #a3dd2a;
}

.color-12 {
  background-color: #fb4ed1;
}

.color-13 {
  background-color: #643b15;
}

.color-14 {
  background-color: #3b45c0;
}

.color-15 {
  background-color: #cd2bc6;
}

.color-16 {
  background-color: #9824ea;
}

.color-17 {
  background-color: #3dfa0b;
}

.color-18 {
  background-color: #82a9dd;
}

.color-19 {
  background-color: #e582fc;
}

.color-20 {
  background-color: #1bc76c;
}

.color-21 {
  background-color: #8c85ee;
}

.color-22 {
  background-color: #d9660c;
}

.color-23 {
  background-color: #9cc1b8;
}

.color-24 {
  background-color: #e31f1c;
}

.color-25 {
  background-color: #b64973;
}

.color-26 {
  background-color: #97640b;
}

.color-27 {
  background-color: #84b519;
}

.color-28 {
  background-color: #604328;
}

.color-29 {
  background-color: #4b0a4f;
}

.color-30 {
  background-color: #c26529;
}

.color-31 {
  background-color: #6fe06e;
}

.color-32 {
  background-color: #2a2d14;
}

.color-33 {
  background-color: #08cadf;
}

.color-34 {
  background-color: #c9b35c;
}

.color-35 {
  background-color: #71a120;
}

.color-36 {
  background-color: #25dbc1;
}

.color-37 {
  background-color: #dae606;
}

.color-38 {
  background-color: #688fac;
}

.color-39 {
  background-color: #597d6e;
}

.color-40 {
  background-color: #5f3911;
}

.color-41 {
  background-color: #a2bf22;
}

.color-42 {
  background-color: #deb161;
}

.color-43 {
  background-color: #bcd021;
}

.color-44 {
  background-color: #a96a05;
}

.color-45 {
  background-color: #1e6fc0;
}

.color-46 {
  background-color: #ea8164;
}

.color-47 {
  background-color: #3e2280;
}

.color-48 {
  background-color: #90dea1;
}

.color-49 {
  background-color: #63d271;
}

.color-50 {
  background-color: #06a989;
}

.color-51 {
  background-color: #145f0d;
}

.color-52 {
  background-color: #0aca8d;
}

.color-53 {
  background-color: #58119f;
}

.color-54 {
  background-color: #5aceed;
}

.color-55 {
  background-color: #4a257f;
}

.color-56 {
  background-color: #72d574;
}

.color-57 {
  background-color: #245139;
}

.color-58 {
  background-color: #55b456;
}

.color-59 {
  background-color: #8fea96;
}

.color-60 {
  background-color: #ca04ff;
}

.color-61 {
  background-color: #6697d6;
}

.color-62 {
  background-color: #f63091;
}

.color-63 {
  background-color: #7647f7;
}

.color-64 {
  background-color: #31ee85;
}

.color-65 {
  background-color: #a0c195;
}

.color-66 {
  background-color: #e9b20a;
}

.color-67 {
  background-color: #e521b2;
}

.color-68 {
  background-color: #ce06b7;
}

.color-69 {
  background-color: #838666;
}

.color-70 {
  background-color: #6ba3bf;
}

.color-71 {
  background-color: #e5dfa2;
}

.color-72 {
  background-color: #a354f8;
}

.color-73 {
  background-color: #4411a5;
}

.color-74 {
  background-color: #c68ab2;
}

.color-75 {
  background-color: #e9af49;
}

.color-76 {
  background-color: #cf04ec;
}

.color-77 {
  background-color: #bd5c1c;
}

.color-78 {
  background-color: #7f25ec;
}

.color-79 {
  background-color: #a47adc;
}

.color-80 {
  background-color: #99ad80;
}

.color-81 {
  background-color: #ae83f8;
}

.color-82 {
  background-color: #4298fd;
}

.color-83 {
  background-color: #af669e;
}

.color-84 {
  background-color: #c9c820;
}

.color-85 {
  background-color: #4e263f;
}

.color-86 {
  background-color: #4c3874;
}

.color-87 {
  background-color: #842ee3;
}

.color-88 {
  background-color: #201c6f;
}

.color-89 {
  background-color: #a6ad44;
}

.color-90 {
  background-color: #58b1d1;
}

.color-91 {
  background-color: #9ba3fe;
}

.color-92 {
  background-color: #c9d674;
}

.color-93 {
  background-color: #1dc171;
}

.color-94 {
  background-color: #7c0f75;
}

.color-95 {
  background-color: #886407;
}

.color-96 {
  background-color: #2768c4;
}

.color-97 {
  background-color: #846ca3;
}

.color-98 {
  background-color: #937f6b;
}

.color-99 {
  background-color: #d6d931;
}

/* Cart */
#total {
  display: flex;
  justify-content: end;
  font-size: 4rem;
}

/* Contact */
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
