:root {
  --color-background: #FFF;
  --color-foreground: #000;
  --color-dark: #23232B;
  --color-md-dark: rgb(107, 105, 105);
  --color-light: #F0EFEF;
  --color-md-light: #EBE8E8;
  --color-primary: #127AFF;
  --color-dark-primary: #1164D1;
  --color-info: #17A3B8;
  --color-success: #28A845;
  --color-danger: #DD3544;
  --color-callout: #FDC107;
  --color-lightest: #F8F9FA;
  --font-base-size: 18px;
}

body {
  font-size: var(--font-base-size);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 2rem;
  background-color: var(--color-background);
  margin: 0;
}

section:not(#nav, #banner, #about, #popular) {
  min-height: 100vh;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}
a:hover {
  color: var(--color-dark-primary);
}

/* Buttons */
button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-background);
  margin: 0;
}
button:hover {
  background-color: var(--color-dark-primary);
}

/* Banner */
#banner {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-dark-primary);
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

.text-form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-md-dark);
  font-size: 1rem;
  padding: 0.5rem;
}

/* Navbars */
.navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--color-dark);
  color: var(--color-lightest);
  padding: 1rem;
}
.navbar .title {
  margin: 0;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
  padding: 0;
  margin: 0;
}
.navbar ul a {
  margin: 0 0 0 1rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Code */
pre {
  color: var(--color-lightest);
  background-color: var(--color-md-dark);
  padding: 1rem;
}

/* Cards */
#popular {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 1em;
  margin: 1em;
  background-color: #EEE;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.card img {
  width: 100%;
}

/* Swatches */
.swatch {
  margin: 1px;
  width: 100px;
  height: 100px;
}

.swatches {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.color-0 {
  background-color: #f0c3bb;
}

.color-1 {
  background-color: #a2a983;
}

.color-2 {
  background-color: #3f6e34;
}

.color-3 {
  background-color: #8bb376;
}

.color-4 {
  background-color: #91ad58;
}

.color-5 {
  background-color: #192eb7;
}

.color-6 {
  background-color: #403a4f;
}

.color-7 {
  background-color: #3d8f39;
}

.color-8 {
  background-color: #6dac5d;
}

.color-9 {
  background-color: #e64cec;
}

.color-10 {
  background-color: #e70b40;
}

.color-11 {
  background-color: #deee80;
}

.color-12 {
  background-color: #d8cd39;
}

.color-13 {
  background-color: #3335ef;
}

.color-14 {
  background-color: #1d0250;
}

.color-15 {
  background-color: #6427d2;
}

.color-16 {
  background-color: #6b1756;
}

.color-17 {
  background-color: #e74bc8;
}

.color-18 {
  background-color: #3ccbf2;
}

.color-19 {
  background-color: #8ecb76;
}

.color-20 {
  background-color: #1cf24c;
}

.color-21 {
  background-color: #a6fbb5;
}

.color-22 {
  background-color: #1cca55;
}

.color-23 {
  background-color: #0f4d2f;
}

.color-24 {
  background-color: #0ea56c;
}

.color-25 {
  background-color: #b3ebfc;
}

.color-26 {
  background-color: #ce6172;
}

.color-27 {
  background-color: #032af6;
}

.color-28 {
  background-color: #a6fd9c;
}

.color-29 {
  background-color: #ce0be0;
}

.color-30 {
  background-color: #bcaf8d;
}

.color-31 {
  background-color: #744ea9;
}

.color-32 {
  background-color: #3b99f2;
}

.color-33 {
  background-color: #d4d448;
}

.color-34 {
  background-color: #0bf268;
}

.color-35 {
  background-color: #1e030a;
}

.color-36 {
  background-color: #3a66d6;
}

.color-37 {
  background-color: #c3d063;
}

.color-38 {
  background-color: #3b29bd;
}

.color-39 {
  background-color: #6e7165;
}

.color-40 {
  background-color: #2f9047;
}

.color-41 {
  background-color: #50f5d8;
}

.color-42 {
  background-color: #ea751e;
}

.color-43 {
  background-color: #d98713;
}

.color-44 {
  background-color: #bc6c9c;
}

.color-45 {
  background-color: #1eb3aa;
}

.color-46 {
  background-color: #9a52bc;
}

.color-47 {
  background-color: #2bf6d8;
}

.color-48 {
  background-color: #cc168d;
}

.color-49 {
  background-color: #ab098d;
}

.color-50 {
  background-color: #a749dd;
}

.color-51 {
  background-color: #f37aa9;
}

.color-52 {
  background-color: #23c536;
}

.color-53 {
  background-color: #d2146f;
}

.color-54 {
  background-color: #d2cb17;
}

.color-55 {
  background-color: #d38087;
}

.color-56 {
  background-color: #485953;
}

.color-57 {
  background-color: #7d53fa;
}

.color-58 {
  background-color: #bccbef;
}

.color-59 {
  background-color: #17cc47;
}

.color-60 {
  background-color: #931e53;
}

.color-61 {
  background-color: #3cb37f;
}

.color-62 {
  background-color: #1379ba;
}

.color-63 {
  background-color: #7e57da;
}

.color-64 {
  background-color: #3ad6da;
}

.color-65 {
  background-color: #d0ecdc;
}

.color-66 {
  background-color: #b6992c;
}

.color-67 {
  background-color: #496714;
}

.color-68 {
  background-color: #d747d2;
}

.color-69 {
  background-color: #2892d7;
}

.color-70 {
  background-color: #6461f4;
}

.color-71 {
  background-color: #cb6bf0;
}

.color-72 {
  background-color: #f84d80;
}

.color-73 {
  background-color: #4539de;
}

.color-74 {
  background-color: #51189e;
}

.color-75 {
  background-color: #9eadce;
}

.color-76 {
  background-color: #9ba790;
}

.color-77 {
  background-color: #5d96d2;
}

.color-78 {
  background-color: #9e5b52;
}

.color-79 {
  background-color: #f02a57;
}

.color-80 {
  background-color: #b03e75;
}

.color-81 {
  background-color: #ad80bd;
}

.color-82 {
  background-color: #33a508;
}

.color-83 {
  background-color: #a28e1e;
}

.color-84 {
  background-color: #30bc40;
}

.color-85 {
  background-color: #c72cbd;
}

.color-86 {
  background-color: #e75065;
}

.color-87 {
  background-color: #ddea8c;
}

.color-88 {
  background-color: #746f7f;
}

.color-89 {
  background-color: #3e350d;
}

.color-90 {
  background-color: #28e554;
}

.color-91 {
  background-color: #1d0e2a;
}

.color-92 {
  background-color: #5b915a;
}

.color-93 {
  background-color: #d69250;
}

.color-94 {
  background-color: #b569d1;
}

.color-95 {
  background-color: #204962;
}

.color-96 {
  background-color: #2c97ff;
}

.color-97 {
  background-color: #42bd70;
}

.color-98 {
  background-color: #203474;
}

.color-99 {
  background-color: #d8e84d;
}

/* Cart */
#total {
  display: flex;
  justify-content: end;
  font-size: 4rem;
}

/* Contact */
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
