:root {
  --color-background: #FFF;
  --color-foreground: #000;
  --color-dark: #23232B;
  --color-md-dark: rgb(107, 105, 105);
  --color-light: #F0EFEF;
  --color-md-light: #EBE8E8;
  --color-primary: #127AFF;
  --color-dark-primary: #1164D1;
  --color-info: #17A3B8;
  --color-success: #28A845;
  --color-danger: #DD3544;
  --color-callout: #FDC107;
  --color-lightest: #F8F9FA;
  --font-base-size: 18px;
}

body {
  font-size: var(--font-base-size);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 2rem;
  background-color: var(--color-background);
  margin: 0;
}

section:not(#nav, #banner, #about, #popular) {
  min-height: 100vh;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  color: var(--color-dark-primary);
}

/* Buttons */
button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-background);
  margin: 0;
}

button:hover {
  background-color: var(--color-dark-primary);
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
}

input, textarea {
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-md-dark);
  font-size: 1rem;
  padding: 0.5rem;
}

/* Navbars */
.navbar {
  background-color: var(--color-dark);
  color: var(--color-lightest);
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.navbar .title {
  margin: 0;
}

.navbar ul a {
  margin: 0 0 0 1rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Code */
pre {
  color: var(--color-lightest);
  background-color: var(--color-md-dark);
  padding: 1rem;
}

/* Cards */
#popular {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 1em;
  margin: 1em;
  background-color: #EEE;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
}

/* Swatches */
.swatch {
  margin: 1px;
  width: 100px;
  height: 100px;
}

.swatches {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.color-0 {
  background-color: #715bb6;
}

.color-1 {
  background-color: #ac1578;
}

.color-2 {
  background-color: #eb2388;
}

.color-3 {
  background-color: #a1d3b3;
}

.color-4 {
  background-color: #b52d25;
}

.color-5 {
  background-color: #2b4075;
}

.color-6 {
  background-color: #c7fdb0;
}

.color-7 {
  background-color: #261614;
}

.color-8 {
  background-color: #7de173;
}

.color-9 {
  background-color: #6b332c;
}

.color-10 {
  background-color: #4c5d91;
}

.color-11 {
  background-color: #7ffa21;
}

.color-12 {
  background-color: #4db858;
}

.color-13 {
  background-color: #b686a9;
}

.color-14 {
  background-color: #540efb;
}

.color-15 {
  background-color: #54d94b;
}

.color-16 {
  background-color: #ab14a1;
}

.color-17 {
  background-color: #f592d8;
}

.color-18 {
  background-color: #a855b6;
}

.color-19 {
  background-color: #4fc5e0;
}

.color-20 {
  background-color: #0fe9df;
}

.color-21 {
  background-color: #bac049;
}

.color-22 {
  background-color: #95623b;
}

.color-23 {
  background-color: #7e69ba;
}

.color-24 {
  background-color: #818bb2;
}

.color-25 {
  background-color: #fa5776;
}

.color-26 {
  background-color: #d2acec;
}

.color-27 {
  background-color: #568344;
}

.color-28 {
  background-color: #f9a75f;
}

.color-29 {
  background-color: #971764;
}

.color-30 {
  background-color: #2f3e2c;
}

.color-31 {
  background-color: #0f59f9;
}

.color-32 {
  background-color: #b5f093;
}

.color-33 {
  background-color: #71ef12;
}

.color-34 {
  background-color: #c60432;
}

.color-35 {
  background-color: #8c3f2e;
}

.color-36 {
  background-color: #753572;
}

.color-37 {
  background-color: #a07169;
}

.color-38 {
  background-color: #361dea;
}

.color-39 {
  background-color: #37a023;
}

.color-40 {
  background-color: #809783;
}

.color-41 {
  background-color: #21792f;
}

.color-42 {
  background-color: #0555a2;
}

.color-43 {
  background-color: #69b2c9;
}

.color-44 {
  background-color: #918a7c;
}

.color-45 {
  background-color: #b4cd85;
}

.color-46 {
  background-color: #2cd434;
}

.color-47 {
  background-color: #40a1f5;
}

.color-48 {
  background-color: #c352ac;
}

.color-49 {
  background-color: #86f54f;
}

.color-50 {
  background-color: #7d794c;
}

.color-51 {
  background-color: #6d2ce5;
}

.color-52 {
  background-color: #958f12;
}

.color-53 {
  background-color: #3a598c;
}

.color-54 {
  background-color: #41c609;
}

.color-55 {
  background-color: #84fbb0;
}

.color-56 {
  background-color: #e377b8;
}

.color-57 {
  background-color: #72a518;
}

.color-58 {
  background-color: #334625;
}

.color-59 {
  background-color: #0cc70a;
}

.color-60 {
  background-color: #f9fef7;
}

.color-61 {
  background-color: #5bf6b6;
}

.color-62 {
  background-color: #632461;
}

.color-63 {
  background-color: #02bb3d;
}

.color-64 {
  background-color: #bbd278;
}

.color-65 {
  background-color: #102033;
}

.color-66 {
  background-color: #78a16e;
}

.color-67 {
  background-color: #ea9a9d;
}

.color-68 {
  background-color: #364178;
}

.color-69 {
  background-color: #2d75f9;
}

.color-70 {
  background-color: #db877d;
}

.color-71 {
  background-color: #097214;
}

.color-72 {
  background-color: #7442b2;
}

.color-73 {
  background-color: #41e84f;
}

.color-74 {
  background-color: #880d9d;
}

.color-75 {
  background-color: #4f0328;
}

.color-76 {
  background-color: #362332;
}

.color-77 {
  background-color: #380729;
}

.color-78 {
  background-color: #34e5ad;
}

.color-79 {
  background-color: #21cb6c;
}

.color-80 {
  background-color: #676657;
}

.color-81 {
  background-color: #cc5d57;
}

.color-82 {
  background-color: #741e34;
}

.color-83 {
  background-color: #2b8a0e;
}

.color-84 {
  background-color: #720d69;
}

.color-85 {
  background-color: #c802d1;
}

.color-86 {
  background-color: #1aea73;
}

.color-87 {
  background-color: #1f8b0e;
}

.color-88 {
  background-color: #ab3572;
}

.color-89 {
  background-color: #43e548;
}

.color-90 {
  background-color: #d2c933;
}

.color-91 {
  background-color: #610514;
}

.color-92 {
  background-color: #6506a3;
}

.color-93 {
  background-color: #eedaf9;
}

.color-94 {
  background-color: #535840;
}

.color-95 {
  background-color: #885b3d;
}

.color-96 {
  background-color: #480cb8;
}

.color-97 {
  background-color: #2eca6f;
}

.color-98 {
  background-color: #1083c0;
}

/*# sourceMappingURL=styles.css.map */
